button.verde{
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: #3eaf7c;
    padding: .8rem 1.6rem;
    border-radius: 4px;
    transition: background-color .1s ease;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
}
button.verde:hover{
    background-color: #33a471;
}